{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Finances</h1>
    <ul class="list-group list-group-flush" id="finances">
        {% for finance in user.finances %}
        <li class="list-group-item">{{ finance.data}}
            <button class="close" type="button" onClick="deleteInfo({{ finance.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor%}
    </ul>
    <form method="POST">
        <textarea name="finance" id="finance" class="form-control"></textarea>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Financial Info</button>
        </div>
    </form>
    {% endblock %}
